# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
project-env/
ENV/

# Database
*.db
*.sqlite3

# Environment Variables
.env

# Environment
.env
.env.local
.env.*.local

# Conda
/conda-env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Local data
farmer_data.csv
